/*
Colours:

#OF1626;  Navy Blue
#AB987A; Leather
#FF533D;  Coral
#F5F5F5;  Eggshell


*/

html {
   font-family: sans-serif;
   font-size: 18px;
   /*padding: 0; */
   /*background-image: url("background.jpg");*/
   background-color: #0F1626;
   background-size: cover;
   color: white;
 }

body {
  margin: 50px;
  padding: 20px;
}

 #game {
   margin: 20px;
     /*display: flex;
     flex-direction: row;*/
 }

 .row {
   display: flex;
   flex-direction: row;
 }

 .numberSquares {
   margin: 6px;
   border-radius: 10px;
   width: 60px;
   background-color: white;
 }

 .card {
   margin: 6px;
   border-radius: 10px;
   width: 100px;
   height: 100px;
   background-color: #FF533D;
   outline: 0;
 }

 /* Change background color of buttons on hover */
 button:hover.card {
    background-color: #AB987A;
}

button:disabled.card {
  margin: 6px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: #FF533D;
  outline: 0;
}

button:disabled.clickedcard {
  margin: 6px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  font-size: 48px;
  font-weight: bold;
  background-color: #F5F5F5;
}

 /*Create an active/current tablink class */
 .clickedCard {
    margin: 6px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-size: 48px;
    font-weight: bold;
    background-color: #F5F5F5;
}
