/*
Colours:
#0F1626;  Navy Blue
#AB987A; Leather
#FF533D;  Coral
#F5F5F5;  Eggshell
*/

html {
   font-family: sans-serif;
   font-size: 18px;
   /*padding: 0; */
   /*background-image: url("background.jpg");*/
   background-color: #0F1626;
   background-size: cover;
   color: white;
 }

body {
  margin: 50px;
  padding: 20px;

}

h1 {
  font-size: 48px;
  color: #AB987A;
}

.numberSquares {
  margin: 10px;
  margin-left: 20px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background-color: white;
}

.choose {
  display: flex;
  font-size: 20px;
}

input[type=range] {
  margin-left: 50px;
  -webkit-appearance: none;
  border: none;
  background: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  /*height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;*/
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #AB987A;
  border: none;
  border-radius: 3px;
  outline: none;

}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #F5F5F5;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FF533D;
}


 #game {
   margin: 20px;
     /*display: flex;
     flex-direction: row;*/
 }

 .row {
   display: flex;
   flex-direction: row;
 }


 .card {
   margin: 6px;
   border-radius: 10px;
   width: 100px;
   height: 100px;
   background-color: #FF533D;
   outline: 0;
 }

 /*Create an active/current tablink class */
 .clickedCard {
    margin: 6px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-size: 48px;
    font-weight: bold;
    background-color: #F5F5F5;
}

 /* Change background color of buttons on hover */
 button:hover.card {
    background-color: #AB987A;
}

button:disabled.card {
  margin: 6px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: #FF533D;
  outline: 0;
}

button:disabled.clickedcard {
  margin: 6px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  font-size: 48px;
  font-weight: bold;
  background-color: #F5F5F5;
  color: black;
}
