html {
   font-family: sans-serif;
   font-size: 18px;
   /*padding: 0; */
   background-image: url("background.jpg");
   background-size: cover;
   color: white;
 }

body {
  margin: 50px;
  padding: 20px;
}

 #game {
   margin: 20px;
 }

 .numberSquares {
   margin: 6px;
   border-radius: 10px;
   width: 100px;
   background-color: white;
 }

 .card {
   margin: 6px;
   border-radius: 10px;
   width: 100px;
   height: 100px;
   /*background-color: white;*/
 }

 /* Change background color of buttons on hover */
button:hover {
    color: black;
    background-color: white;
}

/* Create an active/current tablink class */
button.active {
    color: black;
    background-color: white;
}
